{{!< default}}
<div class="container-fluid">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-4">
                <h1>Homepage</h1>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="col-8">
                {{>fast-quote}}
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="container">
        <section class="post-list" itemScope itemType="http://schema.org/Blog">
            {{#foreach posts}}
                {{> "post-stub"}}
            {{/foreach}}
        </section>
    </div>
</div>