<form>
    <div class="row align-items-center">
        <div class="col-12 col-sm-4">
            <label class="sr-only" for="fastQuoteDate">Data di nascita</label>
            <input id="fastQuoteDate" type="text" class="form-control" placeholder="Data di nascita">
        </div>
        <div class="col-12 col-sm-4">
            <label class="sr-only" for="fastQuotePlate">Targa</label>
            <input type="text" class="form-control" id="fastQuotePlate" placeholder="Targa">
        </div>
        <div class="col-sm-4">
            <a href="javascript:void(0)" id="fastQuoteButton" class="btn btn-primary">Submit</a>
        </div>
    </div>
</form>